<footer>
            <nav>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/services">Services</a>
                <a href="/contact">Contact</a>
            </nav>
            <div id="copyright">
                <h3 class="darkgreentext textCenter">Website Design by B Johnson</h3>
                <p class="darkgreentext textCenter">&#169;{{ getCurrentYear }} {{ company}} - LA, CA</p>
            </div>
</footer>