<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">

     <link rel="stylesheet" href="style.css">
    <title>{{ pageTitle }}</title>
  </head>
  
  <body>
  <div class="clipBg"></div>
  <div class="picBg"></div>
    <div class="containerIndex">
      <section class="left">

        <h1 class="leadItem textCenter">BOODOO</h1>
        <h2 class="subLeadItem textCenter">The Bret todo app</h2>
      </section>
     
        
      <section class="right">
        <h3 class="welcome textCenter">Sign in Please</h3>
        <div class ="loginItem">
            <fieldset>
              <legend>Login</legend>
              <div class="formRow">
                <label>Email</label>
                <input class="formInput" id="email" type="text" name="email">
              </div>
              <div class="formRow">
                <label>Password</label>
                <input class="formInput" id="pass" type="password" name="password">
              </div>
              <div class="formRowButtons">
                <input class="button" type="reset" value="Clear">
                <button class="button" onclick="login()">Login</button>
              </div>
          </fieldset>
        </div>
        <a class="button" href="">Create User</a>
      </section>
    </div>

    <script src="fetch.js"></script>

  </body>
</html>