header nav div a{
    font-size: 2.5em;
}
header nav a i{
    margin-right: 15px;
}

header nav div:first-child{
    margin-right: auto;
}



header nav a{
    margin: 10px;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
}

header nav a:visited{
    text-decoration: none;
    color: white;
}

header nav a:hover{
    color: #168799;
}

header nav{
    margin: 0px 0px;
    display: flex;
    align-items: center;
    padding: 20px 50px;
    font-weight: 300;
    background-color: #0770b1;
}

footer{
    height: 40vh;
    margin-top:50px;
}

footer nav{
    margin: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
}

footer nav a{
    color: #feffed;
    text-transform: uppercase;
    margin: 40px 10px;
    text-decoration: none;
}

footer nav a:visited{
    color: #feffed;
    text-decoration: none;
}

#footerLogoContainer{
    display: flex;
    justify-content: space-around;
}

#footerLogoContainer a{
    color: #feffed;
}

#footerLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footerLogo a{
    text-decoration: none;
}


#footerLogo i{
    color: #feffed;
    font-size: 50px;
}

#copyright {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#copyright p{
   font-size: 12px;
    
}

#footerGrass{
    object-fit: contain;
}



